<div class="mainContainer componentCard flexCenter">
    <div class="mainWindow">
        <div class="mainTitle">Real-time Posts Analytics Emulator</div>
        <div class="cardsLayout">
            <div class="divStrech filterBarComponent">
                <app-post-filter></app-post-filter>
            </div>
            <div class="divStrech postsListComponent">
                <app-posts-list></app-posts-list>
            </div>
            <div class="divStrech postsStatusComponent">
                <app-status></app-status>
            </div>
            <div class="divStrech postsStatisticsComponet">
                <app-post-statistics></app-post-statistics>
            </div>
        </div>
    </div>
</div>
