/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgb(148, 154, 160);
}

.flexCenter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.componentCard {
    box-sizing: border-box;
}

.componentCard.subComponentCard {
    height: 100%;
    width: 100%;
}